[submodule "libpopcnt"]
	path = libpopcnt
	url = https://github.com/kimwalisch/libpopcnt.git
[submodule "thread-pool"]
	path = thread-pool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "magic-bits"]
	path = magic-bits
	url = https://github.com/cristivlas/magic-bits.git
